.img-profile {
    width: 100%;
    max-width: max-content;
    height: 100%;
    max-height: 550px;
    object-fit: cover;
    aspect-ratio: 3/4;
}

.text-img-profile {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}

.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}

.text-footer {
    color: #ffffff4b;
    text-align: center;
    font-size: 12px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #ffffff;
    background: linear-gradient(to right, #eeeeee 8%, #cecece 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 30px;
    width: 80px;    
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

body {
    background: linear-gradient(112.1deg, #202639 11.4%, #3f4c77 70.2%);
    height: 100vh;
    background-attachment: fixed;
}

/* footer {
    background: rgb(46 58 99);
    height: 50px;
    position: absolute;
    bottom: 0;
} */

.container-fluid {
    height: 100vh;
}

main::-webkit-scrollbar {
    display: none;
}

.main-content {
    border-radius: 6px;
    box-shadow: 5px 5px 10px #00000029;
    height: auto;
    background: rgb(46 58 99);
    color: #fff;
}

.h-name {
    color: #a33cdf;
    text-transform: uppercase;
    animation: fadeInSlideLeft 1.5s ease-out forwards;
    opacity: 0;
}
.h-title-name {
    line-height: 100%;
}
.h-size-1 {
    font-size: clamp(1.2rem, 2.5vw, 2.2rem);
}
.h-size-2 {
    font-size: clamp(3rem, 4vw, 4.5rem);
}

.icontect {
    max-width: 22px;
    filter: brightness(0) invert(1);
}

.text-contact {
    color: #fff;
}

.font-title-detail {
    font-size: clamp(13px, 2vw, 15px);
    text-indent: 50px;
}

.btn-title-profile, .btn-sendmail.active {
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;            
    border-radius: 50px;
    border: none;
    font-size: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    gap: 5px;
}

.btn-title-profile:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-sendmail {
    color: #585874 !important;
    background: #23223a;
    transition: 0.5s;
}
 
 .icon-resume, .icon-contact {
    width: 22px;
    filter: brightness(0) invert(1);
 }

 .icon-contactsend {
    width: 22px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(14%) saturate(867%) hue-rotate(201deg) brightness(98%) contrast(85%);
 }
 .icon-contactsend.active {
    width: 22px;
    filter: brightness(0) invert(1);
 }

.frm-contact {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #0401083b;
    color: #fff;
}
.frm-contact::placeholder {
    color: #bea6df3b;
    opacity: 1; /* Firefox */
}
.frm-contact:focus {
    border: 1px solid #8c4db5;
    box-shadow: 1px 1px 22px rgb(201 95 246);
    transition: 0.5s;
}

.area-contact {
    min-height: 110px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #c552f6;
  top: 8px;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  transition: 1s;
  height: 0;
  height: 100%;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 0 2rem;
}

.timeline-item::after {
    content: '';
    position: absolute;
}

.timeline-item-left {
    left: 0;
    text-align: end;
}

.timeline-item-right {
    left: 50%;
}

.timeline-item-right::after {
    left: -7px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #c552f6;
    border-radius: 50%;
    top: 6px;
    right: -5px;
}

.timeline-date {
    color: #c552f6;
}

.timeline-detail {
    color: #848eb1;
    font-size: clamp(12px, 2vw, 14px);
}

.timeline-title-content {
    font-size: clamp(17px, 2.5vw, 1.3rem);
}

.content {
    margin-bottom: 6rem;
}

.group-item-subject {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.text-subject {
    font-size: clamp(2.8rem, 5vw, 4rem);
}

#main_contact {
    overflow: auto;
}

.frame-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-profile::-webkit-scrollbar {
    display: none;
}

.img-subject-experience {
    width: 300px;
}

.detail-subject {
    font-size: clamp(14px, 2vw, 16px);
}

.link-view-demo {
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;            
    border-radius: 50px;
    border: none;
    font-size: clamp(10px, 2vw, 12px);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    gap: 5px;
}
.link-view-demo:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-image {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

/* Fade In Slide Left Animation */
@keyframes fadeInSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* resonsive css  */
@media (max-width: 1550px) {
    .group-item-subject {
        flex-flow: column-reverse;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1399px) {
    .frame-profile {
        display: block;
        overflow: auto;
        height: 100%;
    }
}

@media (max-width: 1199px) {
    #main_contact {
        overflow: unset;
    }

    .main-content {
        border-radius: 6px;
        box-shadow: unset;
        height: auto;
        background: none;
        color: #fff;    
    }

    .frame-profile {
        display: flex;
        height: auto;
        padding-top: clamp(2rem, 5vw, 4rem) !important;
    }

    .img-subject-experience {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 768px) {
   .timeline::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: #c552f6;
        top: 8px;
        bottom: 0;
        left: 0;
        margin-left: -2px;
    } 

    .timeline-item-right {
        left: 0;
    }

    .timeline-item {
        position: relative;
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .timeline-item-left {
        left: 0;
        text-align: start;
    }

    .timeline-item::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #c552f6;
        border-radius: 50%;
        top: 6px;
        right: 0;
        left: -7px;
    }
}